html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #f4f7f6;
    margin-bottom: 60px;
}

#div-linha-card {
    padding-bottom: 10px;
}

.border-bottom {
    padding-bottom: 15px;
}


/*#video-publicado {
    min-width: auto;
    min-height: auto;
    max-width: 50vh;
    max-height: 50vh;
    padding-bottom: 4px;
    z-index: -100;
    background: url('../images/kantaribope.png');
    background-size: cover;
}*/

/*.video-wrapper {*/
    /* Telling our absolute positioned video to 
  be relative to this element */
    /*position: relative;
    width: 400px;
    height: 200px;*/
    /* Will not allow the video to overflow the 
  container */
    /*overflow: hidden;*/
    /* Centering the container's content vertically 
  and horizontally */
    /*text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

video {*/
    /** Simulationg background-size: cover */
    /*object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}*/


/*video {
    object-fit: contain;
    background-color: black;
    position: center;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
}*/

video {
    height: auto;
    margin-top: 10px;
    width: 100%;
    z-index: -1;
}

/*#video-wrapper {
    border: 2px solid groove;
    border-inline-color:black;
    width: 300px;
    height: 200px;
    position: center;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
}*/


.card-video {
    padding: 5px;
    background-color: black;
}

#div-linha-card {
    margin-top: 10px;
    margin-bottom: 10px;
}

#div-lives {
    top: -20px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    padding-left: 10px;
}

.container {
    padding: 2px;
}

.conteudo {
    
}