html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #f4f7f6;
    margin-bottom: 60px;
}

#div-linha-card {
    padding-bottom: 10px;
}

.border-bottom {
    padding-bottom: 15px;
}


#video-publicado {
    min-width: 100%;
    min-height: 100%;
    max-width: 35%;
    max-height: 35%;
    width: auto;
    height: auto;
    padding-bottom: 15px;
    z-index: -100;
}

.conteudo {

    left: 0;
    z-index: 100;
    background-color: white;
    min-height: 100%;
}

#div-linha-card {
    margin-top: 10px;
    margin-bottom: 10px;
}

#div-lives {
    top: 300px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    padding-left: 20px;
}

.container {
    padding: 15px;
}