


<div class="text-danger" asp-validation-summary="All"></div>
<form method="post">
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Login</h5>
    </div>
    <div class="card-body">
    
        
            <div class="form-group">
                <label>Email</label>
                <input name="email" class="form-control" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input name="password" class="form-control" />
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="lembrarMe">
                <label class="form-check-label" for="lbllembrarMe">Lembrar-me</label>
            </div>                    
           
    </div>

    <div class="card-footer text-muted">

        <button class="btn btn-primary" type="submit">Autenticar</button> &nbsp;
            <a class="btn btn-primary" asp-area="" asp-controller="Operations" asp-action="Create">Cadastra-se</a>

    </div>
</div>

</form>



