<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portal Use Case</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.ToString() - App.UseCase.Plataforma - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*   <script src="https://code.jquery.com/jquery-3.6.3.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/SignLr/signalr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
    <script src="~/js/jsextras/adapter.min.js"></script>
    <script src="~/js/jsextras/adapter.screenshare.js"></script>
    <script src="~/js/jsextras/adapter.screenshare.min.js"></script>
    <script src="~/js/jsextras/custom.js"></script>
    <script src="~/js/jsextras/utilsrtc.js"></script>
    <script src="~/lib/alertifyjs/alertify.js"></script>
    <script src="~/lib/alertifyjs/alertify.min.js"></script>

    @* //tem q ser o ultimo script*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        const SweetAlerta = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: true
        })

    </script>
    <audio controls="controls" loop id="MyAudio" style="display:none">
        <source src="~/sounds/alert.mp3" type="audio/mpeg" />
    </audio>
    <audio controls="controls" loop id="AudioReceive" style="display:none">
        <source src="~/sounds/toque%20da%20xiaomi.mp3" type="audio/mpeg" />
    </audio>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
