@model app.plataforma.Identity.UserIdentity

<div asp-validation-summary="All" class="text-danger"></div>
@if (ViewBag.Message != null)
{
    <div class="p-1 mb-2 bg-success text-white">@ViewBag.Message</div>
}
<form method="post">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Cadastre-se</h5>
        </div>
        <div class="card-body">

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
            </div>
           

        </div>

        <div class="card-footer text-muted">
            <button type="submit" class="btn btn-dark">Criar</button>
            <a asp-controller="Account" asp-action="Login" class="btn btn-dark">Cancelar</a>
        </div>
    </div>

</form>